<html>
    <head>
        <title>Mój piewrszy blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">mój blog początki</a> </h1>
        </div>
        <div>
            <p>napisany 20.03.2020, 17:00</p>
            <h2><a href="">Mój pierwszy post</a> </h2>
            <p>to jest mój pierwszy post</p>
        </div>
        <div>
            <p>napisano 20.03, 17.10</p>
            <h2><a href="">mój dugi post</a> </h2>
            <p> to jest mój post</p>
        </div>

    </body>
</html>